{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex flex-wrap px-5 p-3 align-items-center bg-white mb-3">

    <div class="col-8">
        <img src="{{car.image.url}}" style="width: 95%; height: 700px;" />
    </div>

    <div class="col-4">
        <h1 class="display-2 fw-bold">{{car.car_model}}</h1><br>
        <h6 class="fw-normal ">Price: ${{car.price}}</h6>
        <h6 class="fw-normal">Quantity: {{car.quantity}}</h6>
        <h5 >Description: </h5>
        <p> {{car.description}}</p>
        <h5 class="fw-normal">Brand: {{car.brand.name}}</h5>

        {% if request.user.is_authenticated%}
        <a href="{%url 'buyCar' car.id%}" class="btn btn-primary">Buy Now</a>
        {%endif%}
    </div>
  
</div>

<div>
    <div class="card m-2">
        <h2 class="p-3">Total Comments : {{comments | length}}</h2>
        {% for comment in comments %}
      <div class="card-body border m-2">
            <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
            <p>{{comment.body}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="card m-2">
        <div class="card-body">
            <form method="post">
                <h1>Add Comment</h1>
                {% csrf_token %}
                {{comment_form | crispy}}
    
                <button class="btn btn-warning">Submit</button>
        </div>
    </div>
</div>


{% endblock content %}